<h2 class="title">TodoList</h2>
<div class="search">
  <input type="text" class="theInput" [(ngModel)]="keywords" (keyup)="doAdd($event.keyCode)">
  <button class="theButton" (click)="doAddBtn()">添加</button>
  <hr>
  <h3>待办事项</h3>

  <ul>
    <li *ngFor="let item of historyList
    let key = index" [hidden]="item.status==1">
      <input type="checkbox" [(ngModel)]="item.status">{{item.title}}<button (click)="deleteHistory(key)"
        class="theButton">X</button>
    </li>
  </ul>
  <h3>已完成事项</h3>

  <ul>
    <li *ngFor="let item of historyList
    let key = index" [hidden]="item.status==0">
      <input type="checkbox" [(ngModel)]="item.status">{{item.title}}<button (click)="deleteHistory(key)"
        class="theButton">X</button>
    </li>
  </ul>
</div>